body {
    background-color: #f0eff2;
}

.detail__content {
    margin: 60px auto;
    width: 60%;
    letter-spacing: 0.1em;
}

.detail__header {
    text-align: left;
    position: relative;
}

.detail__header::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    background-color: #000000;
    width: 8px;
    height: 100%;
}

.detail__table {
    margin-top: 40px;
}

.table__inner {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.table__row:not(:first-of-type) {
    border-top: 2px solid #e1e1e1;
}

.table__header {
    color: #737373;
    padding: 30px 0 30px 60px;
    text-align: left;
    width: 40%;
}

.table__item {
    padding: 30px 0;
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 50px;
}

.table__item-input {
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}

.table__item-input--date,
.table__item-input--name {
    outline: none;
    border: none;
}

.table__item span {
    font-weight: bold;
    font-size: 20px;
}

.table__item-textarea {
    color: #000000;
    font-weight: bold;
    width: 55%;
    padding: 10px;
}

.form__button {
    margin-top: 30px;
    text-align: right;
}

.form__button-submit {
    width: 100px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.form__error {
    color: red;
}