body {
    background-color: #f0eff2;
}

.list__content {
    margin: 60px auto 100px;
    width: 60%;
    letter-spacing: 0.1em;
}

.list__header {
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.list__header::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    background-color: #000000;
    width: 8px;
    height: 100%;
}

.list__calendar {
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
}

.list__calendar button {
    border: none;
    background: none;
    color: #737373;
    font-weight: bold;
    font-size: 18px;
}

#month {
    font-weight: bold;
    font-size: 24px;
}

.arrow-button {
    color: #b3b3b3;
    font-weight: bold;
    font-size: 24px;
}

.list__table {
    margin: 40px auto 0;
}

.table__inner {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.table__row:first-of-type {
    border-bottom: 3px solid #e1e1e1;
}

.table__row:not(:first-of-type) {
    border-top: 2px solid #e1e1e1;
}

.table__header {
    text-align: left;
    color: #737373;
    padding: 10px 0;
}

.table__header:first-of-type {
    padding-left: 40px;
}

.table__item {
    color: #737373;
    padding: 10px 20px 10px 0;
    font-weight: bold;
}

.table__item:first-of-type {
    padding-left: 30px;
}

.table__item:last-of-type {
    color: #000000;
}

.output__button {
    text-align: right;
    margin-top: 40px;
}

.output__button-submit {
    width: 150px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.detail-link {
    color: #000000;
    text-decoration: none;
}

.fa-calendar {
    color: #000;
    font-size: 20px;
    margin-right: 8px;
}
