.header {
    background-color: #000000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.logout__button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}