body {
    background-color: #f0eff2;
}

.attendance__content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attendance__status {
    background-color: #c8c8c8;
    border-radius: 999px;
    padding: 6px 16px;
    color: #696969;
    margin-bottom: 30px;
}

.attendance__date {
    font-size: 40px;
}

.attendance__time {
    font-size: 40px;
    margin-top: -30px;
}

.attendance-thanks {
    font-size: 24px;
    font-weight: bold;
}