.register__content {
    max-width: 1230px;
    margin: 50px auto;
}

.register__header {
    text-align: center;
    margin-bottom: 30px;
}

.register__form {
    width: 70%;
    margin: 0 auto;
}

.form__label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-bottom: 30px;
    outline: none;
}

.form__button {
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.link_to_login {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #0073cc;
    margin-top: 30px;
}

.form__error {
    margin-top: -30px;
    color: red;
}